.hymn_lyrics_div {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.hymn_lyrics_div div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 0.3rem;
  background-color: #7b2e2f;
  color: #fff;
  border-radius: 100%;
}

.hymn_lyrics_div input {
  width: 95%;
  border-radius: 4px;
  padding: 1rem 0.4rem 5rem 0.4rem;
  border: 2px solid #d6d6d6;
  background-color: #e0e0e0;
}

.hymn_lyrics_div input::placeholder {
  font-style: italic;
}

.hymn_lyrics_div input:focus {
  outline: none;
}
